.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f2f1ed;
    height: 100vh;
}
  
.Home h1 {
    text-align: center;
    color: rgb(24, 131, 164);
    padding-top: 20px;
}

.summaryContainer {
    display: flex;
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
}

.textSummary {
    flex: 1;
    padding-right: 20px;
}

.image-container {
    max-width: 50%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
}
