.Navigator {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: white;
    margin-bottom: 20px;
    width: 100%;
}

nav ul li {
    padding: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}
